.blurb a {
  text-decoration: none !important;
}

.blurb a:link {
  color: deeppink;
}

.blurb a:visited {
    color: darkturquoise;
}

.hello {
  font-family: 'Lobster', serif;
  font-size: 8vw !important;
  color: #000;
  display: inline;
  text-decoration: none;
}

.hello > a {
  color: #000;
}

.hello > a:hover {
  text-decoration: none !important;
}

.social {
  display: inline-block;
  padding-top: 2em;
  padding-bottom: 2em;
}

.blurb {
  font-family: 'Cormorant Garamond', serif;
  color: #000;
}

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li{
  font-size: 3em;
}

.navigation li a {
  color: #000;
  font-weight: bold;
  font-family: 'Cormorant Garamond', serif;
}

.vertical-line {
  border-left: medium solid #000;
}

.photo-wrapper {
  display: inline-block;
  overflow: auto;
}

img {
  width: 90%;
}

.caption {
  color: gray;
  font-size: 0.8em;

}

.h1 {
  font-weight: bold !important;
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show older';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Hide older';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  font-size: .9em;
  border: 1px solid #ddd;
  border-radius: .25em;
  float: right;
}

#upcoming {
  color: #DA70D6;
}

@media all and (max-width: 1200px) {
    /* Don't border if viewport is small and the nav bar and body are stacked (max-width is based on viewport of large devices) */
    .vertical-line {
      border-left: none;
    }
}

#map {
    height:400px;
    width:600px;
}

.background svg {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: visible !important;
}

.intro {
  z-index: 2;

  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
  margin: auto;
}

.intro-card {
  background: white;
  box-shadow: 10px 10px rgba(0,0,0,0.5);
  margin-top: 30px;
}

.jumbotron {
  background-color: white !important;
}

.jumbotron p {
  font-size: 2.2rem !important;
}

.links {
  margin: 1em 0 1.5em 0;
  text-decoration: underline;
}

.links a {
  margin: auto 1em auto 0;
  color: #000 !important;
  font-family: 'Bookman Old Style';
  font-size: 1.8em;
}

@media(max-width: 600px) {
  .links a {
    margin: auto 1.5em auto 0;
    color: #000 !important;
    font-size: 16px;
  }
}
