a {
  text-decoration: none !important;
}

a:link {
  color: deeppink;
}

a:visited {
    color: darkturquoise;
}

.hello {
  font-family: 'Lobster', serif;
  font-size: 7em;
  color: #000;
  display: inline;
}

.hello > a {
  color: #000;
}

.social {
  display: inline-block;
  padding-top: 2em;
  padding-bottom: 2em;

}

.blurb {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.5em;
  color: #000;
}

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li{
  font-size: 3em;
}

.navigation li a {
  color: #000;
  font-weight: bold;
  font-family: 'Cormorant Garamond', serif;
}

.vertical-line {
  border-left: medium solid #000;
}

.photo-wrapper {
  display: inline-block;
  overflow: auto;
}

img {
  width: 90%;
}

.caption {
  color: gray;
  font-size: 0.8em;

}

.h1 {
  font-weight: bold !important;
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show older';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Hide older';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  font-size: .9em;
  border: 1px solid #ddd;
  border-radius: .25em;
  float: right;
}
