@font-face {
    font-family: nameFont;
    src: url(neon.TTF);
}

@font-face {
  font-family: 'projectsFont';
  src: url(Kabel.otf);
}
@font-face {
    font-family: followMeToFont;
    src: url(LOSTWAGE.TTF);
}

body {
  display: none;
  background-image: url("images/patience.jpeg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.lasvegas {
  font-family: 'nameFont';
  font-size:90px;
  border: none;
  color: transparent;
  text-align: center;
  text-shadow:
  0 0 2px rgba(255,255,255,1),
  0 0 10px rgba(255,255,255,1),
  0 0 20px rgba(255,255,255,1)
}

.lasvegas span{
  animation: blink .3s infinite alternate;
}

.lasvegas span.delay{
  animation-duration:6s;
  animation-delay: 2s;
  animation-direction: alternate;
  cubic-bezier(0.5, 0.2, 0.3, 1.0)
}

.grouse {
  font-family: 'projectsFont';
  font-size:50px;
  border: none;
  color: transparent;
  text-align: left;
  text-shadow:
  0 0 2px rgba(255,25,25,1),
  0 0 10px rgba(255,25,25,1),
  0 0 20px rgba(255,25,25,1)
}

.cypress {
  font-family: 'followMeToFont';
  font-size:55px;
  border: none;
  color: transparent;
  text-align: right;
  text-shadow:
  0 0 2px rgba(25,200,255,1),
  0 0 10px rgba(25,200,255,1),
  0 0 20px rgba(25,200,255,1)
}



@keyframes blink {
  0%   {}
  50%  {}
  60%{
    text-shadow:
    0 0 2px rgba(255, 255, 255, .1),
    0 0 10px rgba(255, 255, 255, .4);

    text-stroke: 2px rgba(255,255,255,0.05);
}
70%{
  text-shadow:
  0 0 2px rgba(255,255,255,1),
  0 0 10px rgba(255,255,255,1),
  0 0 20px rgba(255,255,255,1),
  0 0 30px rgba(255,255,255,1),
  0 0 40px #0489B1,
  0 0 70px #0489B1,
  0 0 80px #0489B1,
  0 0 100px #0489B1;
}
80%{
  text-shadow:
  0 0 2px rgba(255, 255, 255, .1),
  0 0 10px rgba(255, 255, 255, .4);

  text-stroke: 2px rgba(255,255,255,0.05);
}
100% {
  text-shadow:
  0 0 2px rgba(255,255,255,1),
  0 0 10px rgba(255,255,255,1),
  0 0 20px rgba(255,255,255,1),
  0 0 30px rgba(255,255,255,1),
  0 0 40px #0489B1,
  0 0 70px #0489B1,
  0 0 80px #0489B1,
  0 0 100px #0489B1;
  }
}

h3 {
  color:white;
}

h4 {
  color:white;
  text-align:right;
}

.icon-github {
  position:absolute;
  transition: .5s ease;
  top: 50%;
  left: 50%
}

.icon-linkedin {
  position:absolute;
  transition: .5s ease;
  top: 50%;
  left: 20%
}

.icon-twitter {
  position:absolute;
  transition: .5s ease;
  top: 50%;
  left: 70%
}

.icon-facebook {
  position:absolute;
  transition: .5s ease;
  top: 50%;
  left: 80%
}

.icon-email {
  position:absolute;
  transition: .5s ease;
  top: 50%;
}
